---
layout: default
---
	 <div class="container mtb">
	 	<div class="row">
	 	
	 		<! -- BLOG POSTS LIST -->
	 		<div class="col-lg-8">
	 			
	 			{% for post in site.posts limit:3 %}
	 			
		 		<p><img class="img-responsive" src={{post.img}}></p>
		 		<a href="{{site.baseurl}}{{post.url}}"><h3 class="ctitle">{{post.title}}</h3></a>
		 		<p><csmall>Posted: {{post.date | date_to_long_string}}</csmall> | <csmall2>By: {{post.author}}</csmall2></p>
		 		<p>{{post.meta}}</p>
		 		<p><a id="orange" href={{site.baseurl}}{{post.url}}>[Read More]</a></p>
		 		<div class="hline"></div>
		 		
		 		<div class="spacing"></div>
		 		
	 			{% endfor %}
	 			
	 			<!--<! -- Blog Post 1 -->
		 		<!--<p><img class="img-responsive" src="img/post01.jpg"></p>-->
		 		<!--<a href="single-post.html"><h3 class="ctitle">Time to change your apps.</h3></a>-->
		 		<!--<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin</csmall2></p>-->
		 		<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
		 		<!--<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
		 		<!--<p><a href="single-post.html">[Read More]</a></p>-->
		 		<!--<div class="hline"></div>-->
		 		
		 		<!--<div class="spacing"></div>-->
		 		
	 			<!--<! -- Blog Post 2 -->
		 		<!--<p><img class="img-responsive" src="img/post02.jpg"></p>-->
		 		<!--<a href="single-post.html"><h3 class="ctitle">Our new project is here.</h3></a>-->
		 		<!--<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin</csmall2></p>-->
		 		<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
		 		<!--<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
		 		<!--<p><a href="single-post.html">[Read More]</a></p>-->
		 		<!--<div class="hline"></div>-->

		 		<!--<div class="spacing"></div>-->
		 		
	 			<!--<! -- Blog Post 3 -->
		 		<!--<p><img class="img-responsive" src="img/post03.jpg"></p>-->
		 		<!--<a href="single-post.html"><h3 class="ctitle">Logo design contest starts now.</h3></a>-->
		 		<!--<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin</csmall2></p>-->
		 		<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
		 		<!--<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
		 		<!--<p><a href="single-post.html">[Read More]</a></p>-->
		 		<!--<div class="hline"></div>-->
		 		
			</div><! --/col-lg-8 -->
	 		
	 		{% include sidebar.html %}
	 		
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
