	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>This blog site was made to talk about interesting topics and get our point of view out there. Make sure to join our email list to get coupons and updates for free!</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="https://twitter.com/UrbinaAce"><i class="fa fa-twitter"></i></a>
		 				<a href="https://www.instagram.com/enrique.io/"><i class="fa fa-instagram"></i></a>
		 				<a href="https://www.pinterest.com/acedev1347/"><i class="fa fa-pinterest"></i></a>
		 				
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Let's Talk</h4>
		 			<div class="hline-w"></div>
		 			<a href="mailto:">AceDev1347@gmail.com</a>
		 			<hr>
		 			<p>
		 				<a target="_blank" href="https://discord.gg/Sm563xV"><img width="200px" src="{{site.baseurl}}/img/discord.png" alt="" class="img img-responsive"></a>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->