	 		<! -- SIDEBAR -->
	 		<div class="col-md-4">
		 		<h4 style="font-size: 30pt;">Subscribe!</h4>
		 		<!--<div class="hline"></div>-->
		 		<!--	<p>-->
		 		<!--		<input type="text" class="form-control" placeholder="Email">-->
		 		<!--		<div class="btn btn-primary">Subscribe</div>-->
		 		<!--	</p>-->
		 		
		 		<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#333; clear:left; font:14px Helvetica,Arial,sans-serif; }
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					#mc_embed_signup input.email{color:#000;}
				</style>
				<div id="mc_embed_signup">
				<form action="//postdum.us16.list-manage.com/subscribe/post?u=e88c485cc13298c558f16cf64&amp;id=24ad3f7bbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					
					<input style="width: 100%;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e88c485cc13298c558f16cf64_24ad3f7bbc" tabindex="-1" value=""></div>
				    <div class="clear"><input style="background-color: #00b3fe" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>
				
				<!--End mc_embed_signup-->
				
				
		 			
		 		<div class="spacing"></div>
		 		
		 		<h4>Categories</h4>
		 		<div class="hline"></div>
		 		
		 			
					   
		 			{% assign categories = site.categories | sort %}
				    {% for category in categories %}
				     <p class="site-tag">
				        <a id="orange" href="{{site.baseurl}}/categories/{{ category | first | slugify }}.html">
				                {{ category[0] | capitalize | replace:'-', ' ' }} (<span style="color: #fff">{{ category | last | size }}</span>)
				        </a>
				    </p>
				    {% endfor %}
				    

		 		<div class="spacing"></div>
		 		
		 		{% include recentPosts.html %}
		            
		 		<div class="spacing"></div>
		 		
		 		<!--<h4>Popular Tags</h4>-->
		 		<!--<div class="hline"></div>-->
		 		<!--	<p>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Design</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Wordpress</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Flat</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Modern</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Wallpaper</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">HTML5</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Pre-processor</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Developer</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Windows</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Phothosop</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">UX</a>-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Interface</a>		            	-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">UI</a>		            	-->
		   <!--         	<a class="btn btn-theme" href="#" role="button">Blog</a>		            	-->
		 		<!--	</p>-->
		 			<a href="http://wickedtiess.etsy.com" target="_blank">
	 		<img width="80%" src="{{site.baseurl}}/img/WickedTiesAd.jpg" alt="" class="img img-repsonsive">
	 		</a>
	 		</div>