<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="image" content="img/post01.jpg">
    <meta name="description" content="Tech and Movies Blog">
    <meta name="author" content="Enrique Urbina">
    <meta name="keywords" content="Blog, blowout, Movies, Shows, Tv, geek, mens, womans, nerd, nerdy, cussing, products, best, awesome, chicago, Texas, greatest, posts, post, wow, enrique, urbina" />
    <meta property="og:site_name" content="Postdum"/>
    <meta property="og:title" content="Postdum Blog"/>
    <meta property="og:description" content="Tech and Movies Blog"/>
    <meta property="og:url" content="http://postdum.com/">
    <meta property="og:image" content="img/post01.jpg">
    <meta property="og:type" content="Blog"/>
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

    <title>Postdum</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/modernizr.js"></script>
  </head>

  <body>
      
      
      {% include navbar.html %}
      
      {% include banner.html %}
      
      {{content}}
      
      {% include footer.html %}
      
      
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-103081466-2', 'auto');
      ga('send', 'pageview');
    
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
	<script src="{{site.baseurl}}/js/retina-1.1.0.js"></script>
	<script src="{{site.baseurl}}/js/jquery.hoverdir.js"></script>
	<script src="{{site.baseurl}}/js/jquery.hoverex.min.js"></script>
	<script src="{{site.baseurl}}/js/jquery.prettyPhoto.js"></script>
  	<script src="{{site.baseurl}}/js/jquery.isotope.min.js"></script>
  	<script src="{{site.baseurl}}/js/custom.js"></script>


  </body>
</html>